@model   MinhaBiblioteca.Models.BookApi

@{
    ViewData["Biblioteca"] = "Biblioteca View";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="main">

    <form method="get" action="/Home/Biblioteca">
        <input type="text" id="bookName" name="nome" />
        <input type="submit" value="buscar" onclick="redirect()" />
    </form>

    <script>
        function redirect() {
            var bookName = document.getElementById("bookName").value;
            if (bookName) {
                window.location.href = "/Home/Biblioteca/" + encodeURIComponent(bookName);
            }
        }
    </script>



     <div class="BookExib">
        @foreach (var item in ViewBag.book)  
        {
           <div class="bookContainer">
                @item.titulo
                <br/>
                @item.autor
                <br />
                @item.dataPublicacao
           </div>         
        }
     </div>

     <style>

         .BookExib{
             display:flex;
             flex-direction:row;
             height:1900px;
        }

        .bookContainer{
            display:flex;
            padding:20px;
            width: 50%;
        }

        .container{
            background-color:aqua;
            width:1900px;
        }

     </style>

  
</div>


