@{
    ViewData["Title"] = "Home Page";
}

    <h1>Bem vindo a Minha Biblioteca</h1>
    <a class="ChecarNossosLivros" asp-controller="Home" asp-action="Biblioteca">Checar nossos livros</a>

    <style>
        .ChecarNossosLivros{
            text-decoration:none;
            font-size:23px
        }
    </style>