@{
    ViewData["Login"] = "Login View";
}

<div>
    <h1>Login</h1>
    <form>
        <label> digite aqui seu nome</label>
        <input type="text" id="registerNameId" name="registerName" />
        <label> digite aqui sua senha</label>
        <input type="text" id="registerSenhaId" name="registerSenha" />
        <input type="submit" value="registrar" />
    </form>
</div>
