@model RegisterModel

@{
    ViewData["Registrar"] = "Register View";
}

<div>
    <h1>Login</h1>
    <form asp-controller="Register" asp-action="addUser" method="post">
        <label> digite aqui seu nome</label>
        <input type="text" asp-for="Name"  />
        <label> digite aqui sua senha</label>
        <input type="text" asp-for="Password" />
        <input type="submit"  />
    </form>
</div>
